{% extends "master.html" %}
{% block bootstrap %}{% endblock %}
{% block title %}
My Tennis Club - List of all members
{% endblock %}


{% block content %}
<h1 class="well-lg">Members</h1>

<ul class="list-group">
    {% for x in mymembers %}
    <li class="list-group-item"><a class="nav_link" href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a></li>
    {% empty %}
    No Members :I
    {% endfor %}
</ul>
<a class="nav_link" href="/">Home</a>
{% block footer %}{% endblock %}
{% endblock %}


