{% extends "master.html"%}
{% block title %}Polls{% endblock %}

{% block content %}
{% include "auth_navbar.html" %}
{% if latest_question_list %}
<div class="container">
    <div class="row">
<h4 class="header-bar">Latest Polls</h4>
<ul style="list-style: none;">
    {% for question in latest_question_list %}
    <li style="list-style: none;"><a style="text-decoration: none;" href="/polls/{{question.id }}">{{ question.question_text }}</a></li>
{% endfor %}
</ul>

{% else %}
<p class="panel-info">No polls are available.</p>
{% endif %}
</div>
<div class="row">
<a class="text-info" href="/polls/createPoll">Create a new Poll</a>
<a class="text-info" href="/">Home</a>
</div>
</div>
{% endblock %}